@font-face {
    font-family: 'Roboto';
    src: url(assets/Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url(assets/Fonts/Roboto-ThinItalic.ttf);
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 30px;
    margin: 160px;

}

.header-logo {
    position: absolute;
    top: 10px;
    left: 235px;
}

a {
    margin-right: 13px;
}

.main-btn {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 80px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
}

.links {
    position: absolute;
    top: 35px;
    right: 45px;
    margin-right: 200px;
    text-align: right;
}

.main-img {
    position: absolute;
    margin-left: 520px;
    top: 95px;
}

.images {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.column {
    float: left;

    padding: 7px;
    font-family: 'Roboto', sans-serif;
}

.column-img {
    border-radius: 10px;
    width: 125px;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.images::after {
    content: "";
    clear: both;
    display: table;
}

.quote {
    height: 300px;
    background-color: #e5e7eb;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

blockquote {
    padding: 50px;
    font-size: 36px;
    color: #1f2937;
    font-family: 'Roboto-ThinItalic', sans-serif;
    width: 750px;
    margin-left: 280px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    margin: 25px;
    width: 750px;
    height: 120px;
    position: relative;
    left: 25%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

}

.sign-up-text {
    text-align: left;
}

.btn {
    padding-top: 50px;
}

.sign-up button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-color: white;
    width: 90px;
    height: 30px;
    float: right;
    top: 35%;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #1f2937;
    color: white;
    height: 70px;
    font-family: 'Roboto', sans-serif;
}

footer,
h4 {
    display: flex;
    justify-content: center;
}