header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

.main {
    padding: 30px;
    margin: 120px;

}

.header-logo {
    position: absolute;
    top: 35px;
    left: 45px;
    margin-left: 300px;
}

.header-logo button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 80px;
    height: 25px;
}

.links {
    position: absolute;
    top: 35px;
    right: 45px;
    margin-right: 300px;
    text-align: right;

}


/* .main-img {
    position: absolute;
    top: 135px;
    right: 85px;
    width: 520px;
    left: 580px;

} */


/* .info {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 500px;
    margin: 120px;
}



figure img {
    float: left;
    width: 33.33%;
    padding: 5px;
    width: 125px;
} */



.images {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
    justify-content: center;
    text-align: center;

}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.column,
img {

    border-radius: 10px;
    width: 125px;

}

.images::after {
    content: "";
    clear: both;
    display: table;
}

.quote {
    height: 200px;
    text-align: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 70px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    margin: 25px;
    width: 750px;
    height: 120px;
    position: relative;
    left: 25%;
    margin: -15px 0 0 -25px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

.sign-up-text {
    text-align: left;
}

.btn {
    padding-top: 50px;
}

.sign-up button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-color: white;
    width: 90px;
    height: 30px;
    float: right;
    top: 35%;
}

footer {
    background-color: #1f2937;
    color: white;
    height: 70px;

}

footer,
h4 {
    display: flex;
    justify-content: center;
}

/*  */

/* .main-header {
    font-size: 46px;
}


.back {
    background-color: rgba(17, 16, 16, 0.488);
}

.container { */
/* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
/* left: 85px;
    display: grid;
    grid-template-rows: auto auto;
}

.container button {
    width: 75px;

}*/